/* Adjustments for the top bar */
#main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add padding to create space around elements */
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

.navbar-brand {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Add styles for the username and user avatar */
#user-info {
  display: flex;
  align-items: center;
}

#user-info .mr-2 {
  margin-right: 10px; /* Adjust the margin as needed */
}

/* Horizontal menu items */
.navbar-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar-nav .nav-item {
  margin-right: 15px; /* Adjust the spacing between menu items */
}

.navbar-nav .nav-link {
  color: #000; /* Change the menu item text color */
  text-decoration: none;
  transition: color 0.3s;
  display: inline-block; /* Display menu items inline */
  padding: 5px 10px; /* Add padding to menu items */
  border-radius: 5px; /* Add rounded corners to menu items */
}

.navbar-nav .nav-link:hover {
  background-color: #007bff; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}

.navbar-nav .nav-link.active {
  font-weight: bold; /* Style the active menu item */
}
